---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - infra.vexxhost.cloud
  resources:
  - certmanagers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infra.vexxhost.cloud
  resources:
  - certmanagers/finalizers
  verbs:
  - update
- apiGroups:
  - infra.vexxhost.cloud
  resources:
  - certmanagers/status
  verbs:
  - get
  - patch
  - update
