---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: certmanagers.infra.vexxhost.cloud
spec:
  group: infra.vexxhost.cloud
  names:
    kind: CertManager
    listKind: CertManagerList
    plural: certmanagers
    singular: certmanager
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CertManager is the Schema for the certmanagers API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CertManagerSpec defines the desired state of CertManager
            properties:
              foo:
                description: Foo is an example field of CertManager. Edit certmanager_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: CertManagerStatus defines the observed state of CertManager
            type: object
        type: object
        x-kubernetes-validations:
        - message: CertManager resource must be named 'default'
          rule: self.metadata.name == 'default'
    served: true
    storage: true
    subresources:
      status: {}
